@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

.header-container {
  background-image: url("/background.jpg");
  height: 900px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-btn {
  text-decoration: underline solid transparent;
  text-underline-offset: 1px;
  transition: text-decoration 90ms ease-in-out;
  transition: text-underline-offset 90ms ease-in-out;
}

.navbar-btn:hover {
  text-decoration: underline solid currentColor;
  text-underline-offset: 8px;
}

#homeLMB {
  cursor: pointer;
}

#homeLMB:hover {
  background-color: #6b9080;
}

html {
  scroll-behavior: smooth;
}

.list {
  list-style-type: circle;
  overflow: scroll;
  height: 400px;
  text-align: left;
  background-color: rgba(80, 115, 100, 0.8);
  color: white;
  padding: 40px;
  font-size: 16px;
  border-radius: 10px;
  width: 25em;
}

#title {
  font-size: 30px;
}
